/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.admin-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: white;
}

.admin-toggle-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    margin-left: 10px;
}
.admin-toggle-btn:hover {
    background-color: transparent;
}

.admin-logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.admin-search-bar input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: none;
}

.admin-nav-icons .admin-icon {
    margin: 0 10px;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

/* Sidebar */
.admin-sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, visibility 0.3s ease;
}

.admin-sidebar ul {
    list-style-type: none;
}

.admin-sidebar ul li {
    margin: 15px 0;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
}
.admin-sidebar-link{
    font-size: 14px;
}

/* Sidebar open or closed state */
.admin-sidebar.open {
    transform: translateX(0);
    visibility: visible;
}

.admin-sidebar:not(.open) {
    transform: translateX(-100%);
    visibility: hidden;
}

/* Main Content */
.admin-main-content {
    margin-left: 250px;
    padding: 80px 20px;
    transition: margin-left 0.3s ease;
}

.admin-main-content.full-width {
    margin-left: 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}



/* Responsive Styles */
@media (max-width: 768px) {
    .admin-sidebar {
        transform: translateX(-100%);
        visibility: hidden;
    }

    .admin-sidebar.open {
        transform: translateX(0);
        visibility: visible;
    }

    .admin-main-content {
        margin-left: 0;
    }

    .admin-search-bar input {
        width: 100%;
    }
}
