.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff9846;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.toggle-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.search-icon{
    color: white;
    font-size: 30px;
    display: none;
}
.search-bar input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
}
.nav-icons {
    display: flex;
    align-items: center; /* Vertically center the icons */
    gap: 10px; /* Add some space between the icons */
}
.icon {
    display: flex; /* Ensure icons behave properly in flex container */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 30px;
    color: white;
}
.profile-dropdown {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    top: 100%; /* Adjust to position below the icon */
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.dropdown-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.dropdown-menu ul li {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.dropdown-menu ul li:hover {
    background-color: #f0f0f0;
}
.sidebar {
    position: fixed;
    top: 60px; /* Height of navbar */
    left: 0;
    width: 250px;
    height: calc(100% - 60px); /* Adjust for navbar height */
    background-color: #f1f1f1;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, visibility 0.3s ease;
    z-index: 10;
    overflow-y: auto; /* Add scrolling when content overflows */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    margin: 15px 0;
    cursor: pointer;
    font-size: 18px;
    color: #333;
}
.sidebar-title {
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: left;
}
.sidebar.open {
    transform: translateX(0);
    visibility: visible;
}
.sidebar:not(.open) {
    transform: translateX(-100%);
    visibility: hidden;
}


@media (max-width: 768px) {

    .search-icon{
        display: block;
    }
    .search-bar{
        display: none;
    }
    .sidebar {
        transform: translateX(-100%);
        visibility: hidden;
    }

    .sidebar.open {
        transform: translateX(0);
        visibility: visible;
    }
}